body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "head head head nav nav nav"
    "img img know know know know"
    "race race race deal deal deal"
    "foot foot foot foot foot foot"
    ;
    align-items: center;
}



nav ul {
    margin: 0;
    padding: 20px 0 0 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

header img {
    height: 100px;
    width: auto;
}

header {
    grid-area: h1;
    padding-left: 20px;
    padding-top: 10px;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

section{
    display:flex;
}

#head{
    grid-area: head;
}

#nav{
    grid-area: nav;
}

#rainbow-image{
    grid-area: img;
}

#did-you-know{
    grid-area: know;
}

#popsicle-race{
    grid-area: race;
}

#summer-deal{
    grid-area: deal;
}

#foot{
    grid-area: foot;
}